Run_dir			/home/bob/Data/bob/Dropbox/SNAP/CSC/AIEM/Thermokarst/ATTM_Code/
Input_dir		Input
Output_dir		Output
Read_Geotiff		Yes
Write_Geotiff		Yes
X_model_resolution	1000.   
Y_model_resolution	1000.
met_distribution        spatial
met_file_point		BarrowMET_2006_2100.xls
met_file_distributed	BarrowAT_1901-2006
degree_day_method	read
TDD_file		TDD_file
FDD_file                FDD_file
Archive_simulation	Yes
Archive_data		archive_data
Simulation_name		Test_1
Notes_file		Notes_1
Test_code               No
